<div class="container p-5"> 
    name : <span class="text-success">{{person.name}}</span>
    <br>
    age : <span class="text-success">{{person.age}}</span>
    <br>
    email : <span class="text-success">{{person.email}}</span> 
    <br>
    adresse 
        <br>
        rue : <span class="text-success">{{person.adresse.rue}}</span>
        <br>
        code postale : <span class="text-success">{{person.adresse.cp}}</span>
        <br>
        ville : <span class="text-success">{{person.adresse.ville}}</span> 
        <br>
</div>